*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(https://vosartewp.files.wordpress.com/2023/03/pers19.jpg);
    background-repeat: repeat round;
}
header{ 
    background-color: #927682; 
    opacity: 80%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
main{ 
   background-color: #96c9c9;
   opacity: 80%;
}
article{
    background-color: darkgreen; 
    opacity: 80%;
}
footer {
    background-color: cornflowerblue;
    opacity: 80%;
} 
.personajes{ 
    background-color: blue;
    opacity: 80%;
}
.ver-serie{
    background-color: brown; 
    opacity: 80%;
    margin: 10px;
    padding: 20px;
}
.var{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: left;
    display: inline-flex;
    padding: 10px;
    margin: 10px; 
}
.header{
    padding: 3%;
    clear:left;
    display: flex;
    text-align: center;
}
.sinopsis{
    padding: 3%;
    clear:left;
    display: flex;
}
.alineacion{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
.titulo{
    font-family:sans-serif, Arial, roboto;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:orange;
}
#contenedor-grilla{
    width: 100%;
    }
article div img {
    border-radius: 20%;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
}
.caja1{
    width: 200px; 
    height: 200px;
    border-color: black; 
    border-radius: 10%;
    border:2px; 
    display: inline-flex;
    margin: 50px 50px 50px 50px;
    background-color: white;
    justify-content: center;
}
.ver-serie{
    clear:left;
    display: flex;
  }
  .txt{
    font-family:sans-serif, Arial, roboto;
    clear:left;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
      }
      .texto{
        font-size: x-large;
      }
  nav ul {
    gap: 10px;
    justify-content: start;
    align-items: center;
  }
  header nav ul a {
    list-style: none;
    text-decoration: none;
}
@media only screen and (min-width: 100px) and (max-width: 800px) {
   .imagen1{
    width: 200px;
    
    

   }
   .header{
    flex-flow: column;
   }
   
   .sinopsis{
    padding: 3%;
    display: flex;
    flex-flow: column;
   }
   .ver-serie{
    display: flex;
    flex-flow: column;
  }
}
  
  
